@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.brand-text {
  font-weight: bolder;
  font-style: italic;
  color: rgb(4, 23, 110) !important;
  font-family: "Russo One", sans-serif;
  font-size: 30px !important;
  letter-spacing: -2px;
}
.nav-link.active {
  font-weight: bold;
}
